# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,sourcepawn
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,sourcepawn

### SourcePawn ###
# SourcePawn
*.dll # extensions
*.so # extensions
*.smx # plugins
compile/*.smx
compile/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,sourcepawn